<!doctype html>
<html lang="en">
  <head>
      <title>{{ page.title }}</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">

      <!-- Styles -->
      <link rel="stylesheet" href="assets/application.css">
    </head>

    <body class="antialiased font-sans">
        <div class="md:flex min-h-screen">
            <div class="w-full md:w-1/2 bg-white flex items-center justify-center">
                <div class="max-w-sm m-8">
                    <div class="text-black text-5xl md:text-15xl font-black">
                      {{ page.code }}
                    </div>

                    <div class="w-16 h-1 bg-purple-light my-3 md:my-6"></div>

                    <p class="text-grey-darker text-2xl md:text-3xl font-light mb-8 leading-normal">
                      {{ content }}
                    </p>
                </div>
            </div>

            <div class="relative pb-full md:flex md:pb-0 md:min-h-screen w-full md:w-1/2">
              <div style="background-image: url(assets/{{ page.asset }});" class="absolute pin bg-cover bg-no-repeat md:bg-left lg:bg-center">
              </div>
            </div>
        </div>
    </body>
</html>
